.productCard {
  background: white;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  display: grid;
  gap: 1rem;
  position: relative;
}

.productCard:hover {
  cursor: pointer;
  transform: scale(102%);
  box-shadow: 6px 6px 9px black;
  transition: all 0.2s ease;
}

.inactiveOverlay {
  position: absolute;
  z-index: 10;
  background: rgba(184, 184, 184, 0.5);
  inset: 0;
  display: grid;
  justify-content: end;
  align-items: start;
}

.inactiveOverlay p {
  background: #404040;
  border-radius: 100px;
  padding: 8px 12px;
  font-size: 16px;
  color: #ffffff;
  margin: 0.4rem 0.2rem;
  padding: 0.25rem 1rem;
  font-weight: 500;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 1px solid lightgray;
  padding-bottom: 6px;
  margin: 0;
}

.category {
  font-size: 0.9rem;
  color: rgb(152, 152, 152);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.price {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 2px solid green;
  border-radius: 6px;
  justify-self: center;
  padding: 0.25rem 1.5rem;
  color: green;
}

.stock {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  padding: 2px;
}
