:root {
  --background-color-nexup: #eff2f9;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
}

.header {
  background-color: var(--background-color-nexup);
  padding: 20px;
}
